
@page {
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  margin-left: 0.5in;
  margin-right: 0.5in;
}

@media print {

  html, body {
    font-size: 14px;
    overflow: visible;
  }

  div {
    page-break-inside: avoid;
  }
  
  .app-page {
    overflow: visible;
  }

  .app-header {
    display: none;
    background: white;
    color: black;
    /* border-top: solid 1px gray; */
    /* border-bottom: solid 1px #ddd; */
    margin: 0;
  }
  .app-header h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
  }
  .app-header img {
    display: none;
  }

  .app-intro {
    display: none;
  }
  .app-footer {
    display: none;
  }

  .app-rules-section>h2 {
    /* font-size: 1.1em; */
    font-weight: normal;
    color: black;
  }
  .rule {
    border: 1px solid #ccc;
    width: calc(33% - 1em);
  }
  .rule + .rule {
    margin-left: 1em;
  }
  .rule>h3 {
    color: black;
  }
  .rule-body {
    box-shadow: none;
    /* padding: 4px; */
  }

}
