
@page {
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  margin-left: 0.5in;
  margin-right: 0.5in;
}

@media print {

  /* trying to get printing to work on firefox - no luck */
  * {
    overflow: visible !important;
    height: auto !important;
  }

  html, body {
    font-size: 14.5px;
    color:#222;
  }

  h2 {
    font-weight: normal;
    color: black;
  }

  .app-page {
    padding: 0;
  }

  .app-contents {
    margin: 0;
  }

  .header {
    position: static;
    background: #fff;
    color: black;
    text-align: left;
  }
  .header img {
    filter: invert(100%);
  }
  .header h1 {
    font-size: 2em;
  }

  .introduction {
    display: none;
  }

  .group {
    break-after: page;
  }

  .rule {
    page-break-inside: avoid;
    box-shadow: none;
  }
  .rule + .rule {
  }
  .rule a {
    color: black;
  }
  .rule > h3 {
    color: black;
  }
  .rule-body {
    box-shadow: none;
  }
  .rule-srd {
    display: none;
  }

  .rule-col { width: 32%; margin-right: 1%; }
  .rule-col--2 { display: block; }
  .rule-col--3 { display: block; }

  .about { display: none; }
  .links { display: none; }
  .license { display: none; }

}
