html, body {
  height: 100%;
  /* background:#f1f3f5; from devhints.io */
  background: #f3ede5;
  color:#345;
  font-family:-apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  font-size: 16px;
}

body {
  overflow-y: hidden;
}

/* subpixel smoothing types - see https://www.zachleat.com/web/font-smooth/ */
/* * {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
} */

/* this is essential for having scrolling subsections! */
#root {
  height: 100%;
}


a {
  color: #269e62;
  /* color:#267e8e; */
  /* font-weight: bold; */
}
a:visited {
  /* color:#15324d; */
}
a:hover {
  color:#27e486;
}


th, td {
  text-align: left;
  border: 1px solid #ddd;
  padding: 0 1em;
  /* white-space: nowrap; */
  word-break: normal;
}


.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  background: black;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.app-header h1 {
  margin: 0;
  font-weight: 300;
  height: 52px;
}

.app-header img {
  height: 42px;
  width: 42px;
}

.app-contents {
  margin-top: 52px;
  height: calc(100% - 52px);
  display: flex;
  flex-direction: row;
}

.app-page {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.app-footer {
  padding: 1em;
  text-align: right;
}

.toc {
  display: none;
  overflow-y: auto;
  flex-basis: 14em;
  flex-shrink: 0;
  color: rgb(77, 188, 26);
  font-size: 16px;
  line-height: 1.2em;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-top: 1em;
}

@media screen and (min-width: 500px) {
  .toc {
    display: block;
  }
}

.toc-title {
  color: black;
  padding: 4px;
  font-weight: bold;
  margin-bottom: 1em;
}
.toc a {
  display: block;
  padding: 1px 5px;
  /* color: rgb(26, 188, 156); */
  color: rgb(62, 188, 26);
  cursor: pointer;
  text-decoration: none;
}
.toc a:hover {
  background-color: #dbedff;
}
.toc-level {
  margin-bottom: 1em;
}
.toc-level-title {
  font-weight: bold;
  font-size: 1.1em;
}
.toc-rule {
  margin-left: 1em;
}



.app-rules {
  margin-left: 1em;
}

.app-rules-section {
  clear: both;
}

.app-rules-section>h2 {
  font-size: 1.8em;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}


.rule {
  margin-bottom: 1.5em;
  float: left;
  width: 100%
}

@media(min-width:770px) {
  .rule {
    padding-top: 0;
    width: 33%;
  }
}

.rule a {
  /* font-weight: bold; */
}

.rule>h3 {
  /* color: #745fb5; from devhints.io */
  color: rgb(77, 188, 26);
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
}

.rule-body {
  background: #fff;
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
  padding: 0.5em 1em;
  margin-right: 1em;
}

.rule-body ul {
  margin-left: 1em;
  padding-left: 0;
}

.rule-reference {
  text-align: right;
  color: #ccc;
}
