
html, body {
  height: 100%;
}
body {
  overflow-y: hidden;
}

div {
  page-break-inside: avoid;
}
li {
	margin-left: -1em;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  background: black;
  color: white;
  text-align: center;
  height: 42px;
  position: fixed;
  top: 0;
  /* flex-basis: 42px; */
  /* flex-shrink: 0; */
  /* flex-grow: 0; */
  width: 100%;
}
.app-header h1 {
  margin: 0;
  font-weight: 300;
}
.app-header img {
  height: 42px;
  width: 42px;
}

.app-contents {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  /* position: fixed; */
  /* top: 42px; */
  height: calc(100% - 42px);
}
.app-page {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.app-footer {
  padding: 1em;
  /* float: right; */
  text-align: right;
}

.toc {
  display: none;
  overflow-y: auto;
  /* height: 100%; */
  flex-basis: 14em;
  flex-shrink: 0;
  color: rgb(26, 188, 156);
  font-size: 16px;
  line-height: 1.2em;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-top: 1em;
  /* padding-bottom: 2em; */
}
@media screen and (min-width: 500px) {
  .toc {
    display: block;
  }
}
.toc-title {
  color: black;
  padding: 4px;
  font-weight: bold;
  margin-bottom: 1em;
}
.toc a {
  display: block;
  padding: 1px 5px;
  color: rgb(26, 188, 156);
  cursor: pointer;
  text-decoration: none;
}
.toc a:visited {
  color: rgb(26, 188, 156);
}
.toc a:hover {
  background-color: #dbedff;
}
.toc-level {
  margin-bottom: 1em;
}
.toc-level-title {
  font-weight: bold;
}
.toc-rule {
  margin-left: 1em;
}


.app-rules {
  margin-left: 1em;
  /* height: 100%; */
  /* overflow-y: scroll; */
}

.body-level {
  font-size: 1.8em;
  padding-bottom: 4px;
}
h2 {
  border-bottom: 1px solid #ccc;
}




/* //. clean this stuff up */


.body.rule-list .rule h3 {
  color: #745fb5;
  font-weight: normal;
}


.body.rule-list {
  /* font-weight: 300; */
}
.rule-list .body {
  padding: 0.5em 1em;
  margin-right: 1em;
}
.body li p {
  display: inline;
}

.rule-reference-dnd {
  text-align: right;
  color: #ccc;
}




.rule-list > .rule {
  margin-bottom: 1.5em;
  float: left;
}

/* this was h3-section-list - cut it down */
.rule-list {
  margin-top:0;
  margin-bottom:0
 }
 .rule-list::after {
  content:'';
  display:table;
  clear:both;
  zoom:1
 }
 .rule-list>.rule {
  float:left;
  width:100%
 }
 @media(min-width:769px) {
  .rule-list>.rule {
   padding-top:0;
   width:33%;
  }
 }
 

/* this was h3-section - cut it down */
 .rule>.body {
  background:#fff;
  box-shadow:0 6px 8px rgba(102,119,136,.03),0 1px 2px rgba(102,119,136,.3)
 }
 .rule>h3 {
  margin-top:8px;
  margin-bottom:16px;
  white-space:nowrap;
  overflow:hidden
 }
 .rule>.body>ul {
  margin:0;
  padding:0;
  list-style-type:none
 }
 .rule>.body>ul>li {
  position:relative
 }
 .rule>.body>ul>li>p {
  margin:0;
  padding:0
 }
 .rule>.body>ul>li::before {
  content:'';
  position:absolute;
  display:inline-block;
  width:4px;
  height:4px;
  background:#678;
  border-radius:50%;
  left:16px;
  top:18px
 }
 .rule>.body>h4 {
  font-size:11px;
  margin:0;
  padding:4px 16px;
  font-weight:400;
  background:#f8f9fa;
  color:#678
 }
 .rule>.body>pre~p,
 .rule>.body>ul~p,
 .rule>.body>iframe~p,
 .rule>.body>table~p {
  background:#f8f9fa;
  color:#678
 }
 .rule>.body>pre~p a,
 .rule>.body>pre~p a:visited,
 .rule>.body>ul~p a,
 .rule>.body>ul~p a:visited,
 .rule>.body>iframe~p a,
 .rule>.body>iframe~p a:visited,
 .rule>.body>table~p a,
 .rule>.body>table~p a:visited {
  color:#345;
  text-decoration:none;
  border-bottom:solid 1px rgba(102,119,136,.05)
 }
 .rule>.body>pre~p a:hover,
 .rule>.body>ul~p a:hover,
 .rule>.body>iframe~p a:hover,
 .rule>.body>table~p a:hover {
  color:#26648e
 }
 .rule>.body>*:not(:first-child) {
  border-top:solid 1px rgba(102,119,136,.05)
 }
 .rule>.body>p+p,
 .rule>.body>p+p:not(:first-child) {
  border-top:0
 }
